package profile

import "github.com/Mt-Lampert/slick_anthGG/model"

templ Index(usr *model.User) {
<h1>This is the profile for {usr.FirstName} {usr.LastName}</h1>

<p>
  <b>Email:</b> {usr.Email}
</p>
}

// vim: ts=2 sw=2 fdm=indent
